body {
  box-sizing: border-box;
  color: var(--color-primary);
  background-color: var(--color-bg);
  font-family: var(--font-sans);
  line-height: 1.3;
}

* {
  box-sizing: inherit;
}

// resets button and input styles
button, input {
  padding: 0;
  border: none;
  font-family: inherit;
  text-align: left;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}