:root {
  --color-bg-alt: #1E213A;
  --color-bg: #100E1D;
  --color-primary: #E7E7EB;
  --color-secondary: #A09FB1;
  --color-secondary-alt: #88869D;
  --color-btn-border: #616475;
  --color-placeholder: #616475;
  --color-search-submit-bg: #3C47E9;
  --color-btn-bg: #6E707A;
  --color-progress-bar: #FFEC65;

  --font-sans: 'Raleway', sans-serif;
}