.forecast {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-gap: 1.625rem;
  padding: 3.25rem;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.5rem;
    height: 11rem;
    padding: 1.125rem;
    background-color: var(--color-bg-alt);

    &__title {
      margin-bottom: .625rem;
      font-size: .875rem;
    }

    &__temp {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
    }

    &__low {
      color: var(--color-secondary)
    }
  }
}

@media screen and (min-width: 375px) {
  .forecast {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 33.5rem) {
  .forecast {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 41.7rem) {
  .forecast {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 50.25rem) {
  .forecast {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 64rem) {
  .forecast {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 75rem) {
  .forecast {
    grid-template-columns: repeat(5, 1fr);
  }
}