.highlights {
  padding: 0 1.5rem;
  width: fit-content;
  margin: auto;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 2rem 0;
  }

  &__card {
    width: 20.5rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
    padding: 1.5rem;
    background-color: var(--color-bg-alt);

    &__title {
      font-weight: 500;
      margin-bottom: .625rem;
    }

    &__value {
      font-weight: 700;
      font-size: 4rem;
    }

    &__unit {
      font-weight: 500;
      font-size: 2.25rem;
    }
  }
}

.wind-direction {
  margin-top: 2rem;
}

.progress-bar-wrapper {
  width: 14.5rem;
  max-width: 80%;
  margin-top: .75rem;
  font-size: .625rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.progress-bar {
  position: relative;
  margin: 2px 0;
  background-color: var(--color-primary);
  height: .5rem;
  border-radius: 5rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 84%;
    height: 100%;
    border-radius: 5rem;
    background-color: var(--color-progress-bar);
  }

  &__range {
    display: flex;
    justify-content: space-between;
  }

  &__unit {
    width: fit-content;
    margin-left: auto;
  }
}

@media screen and (min-width: 48rem) {
  .highlights {
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 64rem) {
  .highlights {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 75rem) {
  .highlights {
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}