.search {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 42rem;
  max-width: 28.75rem;
  width: 100vw;
  z-index: 10;
  padding: 1.125rem .75rem;
  background-color: var(--color-bg-alt);

  overflow-y: auto;
  transition: width 500ms ease;

  &--hidden {
    width: 0;
    padding: 0;
    overflow-x: hidden;
  }

  &__btn {
    display: block;
    margin-left: auto;
  }

  &__form {
    margin-top: 1.875rem;
    display: flex;
    height: 3rem;

    &__field {
      flex-grow: 1;
      height: 100%;
      margin-right: .75rem;
      border: 1px solid var(--color-primary);
      padding-left: 2rem;
    }

    &__input {
      padding: .875rem 1rem;
      font-weight: 500;

      &::placeholder {
        color: var(--color-placeholder);
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.375rem;
      background-color: var(--color-search-submit-bg);
    }
  }

  &__results {
    display: flex;
    flex-direction: column;
    margin-top: 2.375rem;
  }

  &__result {
    padding: 1.4rem .75rem;
    margin-bottom: 1.75rem;

    &:hover, &:active {
      border: 1px solid var(--color-btn-border);
    }
  }
}

@media screen and (min-width: 64rem) {
  .search {
    width: 32%;

    // adding the style again because the media query (.search) has more
    // selectivity than the normal class (.search--hidden)
    &--hidden {
      width: 0;
    }
  }
  
}