.sidebar {
  background-color: var(--color-bg-alt);
  height: 100vh;
}

.main {
  height: 100%;

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem .75rem;
  }

  &__btn {
    padding: .625rem 1.125rem;
    background-color: var(--color-btn-bg);
    font-weight: 500;

    &--rounded {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 4.7rem 0;
  }
}

.weather-img {
  width: 3.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--large {
    width: 9.375rem;
  }

  &--clear {
    background-image: url(./assets/images/clear.png);
  }

  &--hail {
    background-image: url(./assets/images/hail.png)
  }

  &--heavy-cloud {
    background-image: url(./assets/images/heavy-cloud.png);
  }

  &--heavy-rain {
    background-image: url(./assets/images/heavy-rain.png);
  }

  &--light-cloud {
    background-image: url(./assets/images/light-cloud.png);
  }

  &--light-rain {
    background-image: url(./assets/images/light-rain.png);
  }

  &--shower {
    background-image: url(./assets/images/shower.png);
  }

  &--sleet {
    background-image: url(./assets/images/sleet.png);
  }

  &--snow {
    background-image: url(./assets/images/snow.png);
  }

  &--thunderstorm {
    background-image: url(./assets/images/thunderstorm.png)
  }
}